body {

  background-color: rgb(78, 56, 24);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255) !important;
}



.App {
  text-align: center;
}

.home-page{
  margin: 0;
}

.home-button {
  position: absolute;
  left: 100px;
  color: red !important;
  background-color: yellow !important;

}

.home-button:hover{
  background-color: yellow !important;
}
